html, body {
	margin: 0px;
	padding: 0px;
	font-family: "HelveticaNeue-Thin";
}

body {
	background-color: #F8F8F8;
	margin: 30px;
	width: 900px;
	margin: 0 auto;
}

.new-item-header {
	text-align: center;
	margin: 20px;
}


div#newListItem, div#saveNewItem, div#cancel {
	margin: 0 auto;
	width: 200px;
	height: 40px;
	line-height: 40px;
	border: 1px solid green;
	border-radius: 20px;
}

input {
	width: 300px;
	height: 20px;
	line-height: 20px;
 	padding: 10px;
 	border: none;
  	border-bottom: solid 1px green;
  	transition: border 0.3s;
}
.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
  	border-bottom: solid 2px #969696;
}

div#saveNewItem, div#cancel {
	display: inline-block;
	margin: 20px 5px 0px 5px;
	width: 100px;
	height: 26px;
	line-height: 26px;
	border: 1px solid green;
	border-radius: 13px;
}


.panel {
	margin-top: 20px;
	display: block;
	width: 33%;
	height: 300px;
	float: left;
}

.panel a {
	color: black;
	text-decoration: none;
}

ul.list-group {
	padding-left: 0;
}

div.panel a {
	color: white;
}

h1 {
	font-size: 5em;
	margin-bottom: 30px;
}

h5 {
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
}

.panel > ul > a > li {
	list-style-type: none;
	padding: 3px 10px;
	opacity: 0.5;
	margin: 3px 15px 3px 0;
	border-radius: 14px;
	text-align: center;
	line-height: 25px;
}

ul#newList > a > li {
	background-color: rgba(192,0,0,0.5);
}
ul#currentList > a > li {
	color: #111111;
	background-color: rgba(0,192,0,0.5);
}
ul#archivedList > a > li {
	color: #111111;
	background-color: rgba(168,168,168,0.5);
}

ul#newList > a > li:hover {
	background-color: rgba(192,0,0,0.7);
}
ul#currentList > a > li:hover {
	color: #111111;
	background-color: rgba(0,192,0,0.7);
}
ul#archivedList > a > li:hover {
	color: #111111;
	background-color: rgba(168,168,168,0.7);
}